<!-- Generated template for the ColorPickerComponent component -->
<ion-card>
  <ion-card-header>
    <button id="b-colorpicker" *ngIf="!isColorPicker" ion-button outline (click)="openColorPicker()">Color</button>
    <div *ngIf="isColorPicker">
      <h2 id="d-colorpicker" *ngIf="!isColorModify">
      Choose a color
      </h2>
      <h2 id="d-colorpicker" *ngIf="isColorModify">
      Enhance the color
      </h2>
    </div>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div #rgbDiv [style.background-color]="rgbStyle()"></div>
        </ion-col>
        <ion-col>
          <div #finDiv [style.background-color]="finStyle()"></div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isColorPicker">
        <ion-col>
          color: {{hexRGB}}
        </ion-col>
        <ion-col>
          color: {{hexSelColor}}
        </ion-col>
      </ion-row>
    </ion-grid>
    <div *ngIf="isColorPicker">
      <div *ngIf="!isColorModify">
        <ion-range id="r-R"  min="0" max="255" pin="true" [(ngModel)]="rgbColor.r">
          <ion-label range-left class="small-text">R</ion-label>
          <ion-label range-right>R</ion-label>
        </ion-range>
        <ion-range id="r-G" min="0" max="255" pin="true" [(ngModel)]="rgbColor.g">
          <ion-label range-left class="small-text">G</ion-label>
          <ion-label range-right>G</ion-label>
        </ion-range>
        <ion-range id="r-B"min="0" max="255" pin="true" [(ngModel)]="rgbColor.b">
          <ion-label range-left class="small-text">B</ion-label>
          <ion-label range-right>B</ion-label>
        </ion-range>
       </div>
      <div *ngIf="isColorModify">
        <ion-range min="0" max="100" pin="true" [(ngModel)]="lighten">
          <ion-label range-left class="small-text">L </ion-label>
          <ion-label range-right>Lighten </ion-label>
        </ion-range>
        <ion-range min="0" max="100" pin="true" [(ngModel)]="brighten">
          <ion-label range-left class="small-text">B</ion-label>
          <ion-label range-right>Brighten</ion-label>
        </ion-range>
        <ion-range min="0" max="100" pin="true" [(ngModel)]="darken">
          <ion-label range-left class="small-text">D</ion-label>
          <ion-label range-right>Darken</ion-label>
        </ion-range>
      </div>
      <button id="valid" ion-button outline (click)="setSelection()">Ok</button>
      <button id="modif" *ngIf="!isColorModify" ion-button outline (click)="setModification()"><ion-icon name="sunny"></ion-icon></button>
      <button id="color" *ngIf="isColorModify" ion-button outline (click)="newColor()">Color</button>
      <button id="reset" *ngIf="isColorModify" ion-button outline (click)="resetModification()">Reset</button>
    </div>
  </ion-card-content>
</ion-card>
